<div class="content_box">
    <div class="iColumn_block  mgb19 clearfix">
        <div class="iColumn_A index_media">
            <div class="iColumn_s">
                <h3 class="iColumn_s_title">网络借款流程</h3>
            </div>
            <div class="iColumn_content">
                <ul class="nlist nlist_login clearfix">
                    <li class="li_login">
                        <div class="items items_login item01">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>申请</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item02">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>审核</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item03">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>合同签署</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item04">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>放款</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item05">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>还款结清</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item06">
                        </div>
                        <p>再次借款</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="iColumn_block mgb30 clearfix">
        <div class="iColumn_A index_media">
            <div class="iColumn_s mg26">
                <h3 class="iColumn_s_title">提现</h3>
            </div>
            <div class="iColumn_content">
                <div class="cash_message_div">
                    <p class="h63 lh63">
                        <span class="txt_r span_label">收款人：</span>
                        <span class="pdl15" id="realName"></span>
                    </p>
                    <p class="h63 lh63">
                        <span class="txt_r span_label">银行名称：</span>
                        <span class="pdl15" id="bankName"></span>
                    </p>
                    <p class="h63 lh63">
                        <span class="txt_r span_label">银行账号：</span>
                        <span class="pdl15" id="bankCardNum"></span>
                    </p>
                    <p class="h63 lh63">
                        <span class="txt_r span_label">可提现金额：</span>
                        <span class="pdl15" id="usableBalance"></span> 元
                    </p>
                    <p class="h63 lh63">
                        <span class="txt_r span_label">提现金额：</span>
                        <input class="mgl15" id="amount" type="text" placeholder="请输入提现金额">
                        <i>元</i>
                    </p>
                    <p class="h63 lh63">
                        <span class="txt_r span_label">提现费用：</span>
                        <span class="pdl15" id="cost"></span>
                    </p>
                    <p class="cash_notice"><span class="c_red">*</span>提现会产生费用，目前每笔提现费用为2元。</p>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:void(0);" id="apply_cash" class="sub_login">申请提现</a>
</div>