<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>404报错</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<style type="text/css">
			.block_404{width:840px;height:550px;margin:0 auto;text-align:center;margin-top:100px;}
			.block_404 p{color:#666d75;font-size:30px;}
			.block_404 div{width:220px;height:50px;border:1px solid #0069bd;border-radius:3px;margin-left: 310px;margin-top:50px;}
			.block_404 a{background:url(../Styles/images/goback_index.png) no-repeat 24px 10px;font-size:30px;color:#0069bd;line-height:50px;padding-left:30px;text-decoration:none;width:220px;display:inline-block;padding-left:12px;}
		</style>
	</head>
	<body>
		<div class="block_404">
			<img src="../Styles/images/404.png" />
			<p>对不起哦，俺们把你的内容弄丢了！你可以进行以下操作：</p>
			<div><a href="./index.html">返回首页</a></div>
		</div>		
	</body>
</html>
