<!--main-->
<div id="main">
<!--main_1-->
<div id="main_1">
	<div class="app_phone left">
		<img src="../Styles/images/app_phone.png"/>
	</div>
	<div class="app_xiazai left">
		<p class="app_jieme">借么</p>
		<p class="app_nin">就在您身边</p>
		<div class="app_erweima left">
			<img src="../Styles/images/scanCode_xintuo.jpg"/>
			<p>扫描二维码，下载借么APP</p>
		</div>
		<div class="app_load left">
			
			<a href=""><img src="../Styles/images/app_iphone.png"/></a><br/><br/>
			<a href=""><img src="../Styles/images/app_an.png"/></a>
		</div>
	</div>
</div>
<!--main_1 end-->
<!--main_2-->
<div class="main_2">
	<div class="m2_1 left">
		<img src="../Styles/images/app_main2.png"/>
	</div>
	<div class="m2_2 left">
		<p class="m2_p1">额度高</p>
		<p class="m2_p2">最高可借30w&nbsp;&nbsp;</p>
	</div>
</div>
<!--main_2 end-->
<!--main_2-->
<div class="main_2">
	<div class="m2_2 left m3_1">
		<p class="m2_p1 m3_p1">审核快</p>
		<p class="m2_p2">&nbsp;最快一天放款</p>
	</div>
	<div class="m2_1 left">
		<img src="../Styles/images/app_main3.png"/>
	</div>
	
</div>
<!--main_2 end-->
<!--main_2-->
<div class="main_2">
	<div class="m2_1 left">
		<img src="../Styles/images/app_main4.png"/>
	</div>
	<div class="m2_2 left">
		<p class="m2_p1 m4_p1">操作易</p>
		<p class="m2_p2">简化线下繁琐手续</p>
	</div>
</div>
<!--main_2 end-->
</div>
<!--main end-->
