<!--wraper-->
<!--<div id="wraper">-->
  <!--左侧部分开始-->
  <div id="sidebar">
    <!--<div class="rate_box">
      <h2>50%</h2>
      <p>本页信息完整度</p>
      <div class="rate_bg">
        <i class="rate"></i>
      </div>
    </div>-->
    <div class="sidebar_con">
      <i class="down_bg"></i>
      <div class="step_box">
        <div class="step step1 step1cur">
          <i class="step_img"></i>
          <p>借款申请</p>
          <i class="side_check"></i>
        </div>
        <div class="step step2">
          <i class="step_img"></i>
          <p>必填资料</p>
          <i class="side_check"></i>
        </div>
        <div class="step step3">
          <i class="step_img"></i>
          <p>增信资料</p>
          <i class="side_check"></i>
        </div>
        <div class="step step4">
          <i class="step_img"></i>
          <p>提交完成</p>
          <i class="side_check "></i>
        </div>
      </div>
      <div class="account_box">
        <h2 id="accountMoney">0.00</h2>
        <p>账户余额（元）</p>
        <div class="open fund_deposit" for="fund_deposit">开通资金托管</div>
        <div class="recharge_cash">
          <div class="recharge recharge_div" id="recharge_div">充值</div>
          <div class="cash cash_div" id="cash_div">提现</div>
        </div>
        <a href="javascript:void(0);" class="change_password">支付密码修改>></a>
      </div>
      <div class="code_box">
        <img src="../Styles/images/scanCode_xintuo.jpg" alt="">
        <p>扫描二维码 下载借么APP</p>
        <div class="ios_android">
          <img class="ios" src="../Styles/images/ios.jpg" alt="">
          <img class="android" src="../Styles/images/Android.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!--左侧部分结束-->
  <div id="mainarea"></div>
<!--</div>-->
<!--wraper end-->
<script src="../Script/Controller/borrow.js"></script>
