<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>借么_信和大金融官网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="信和大金融官网,信和大金融,信和财富">
<meta name="description" content="信和大金融,收益大不同!信和大金融-信和财富旗下以丰富的金融产品满足多层次投融资需求的互联网财富管理和资产交易服务平台 ,为投资人士提供安全、高效、高预期收益的投资机构及产品,为中小企业和信用良好的个人提供借款等模式。">
<link href="../Styles/css/global.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../Styles/css/sidebar.css" />
</head>
<body>
<!--header-->
<div id="header"></div>
<!--header end--> 
<!--banner-->
<div class="banner index-banner"> </div>
<!--banner end--> 
<!--wraper-->
<div class="w w_wraper" id="wraper"> 

</div>
<!--wraper end--> 
<!--footer-->
<div id="footer"></div>
<!--footer end--> 
<!--login reg 弹窗-->

<div class="pxq_register" id="orderForm" style="display: none;">
  <h3 class="pxq_h3"><a href="javascript://" class="pxq_close"><img src="../Styles/images/pxq_icon-close.png" pxq_status="close" alt=""></a>用户登录</h3>
  <ul class="pxq_ul">
    <li class="pxq_li_img"><img src="../Styles/images/pxq_erweima.png" alt=""></li>
    <li class="pxq_li_input">
      <div class="pxq_p_input">
        <p></p>
        <input type="text" id="login_userPhone" placeholder="请输入手机号">
      </div>
      <div class="pxq_p_input">
        <p class="pxq_password"></p>
        <input type="password" id="login_password" placeholder="请输入密码">
      </div>
      <div class="pxq_yanzhengma">
        <div class="pxq_p_input pxq_input_wid">
          <p class="pxq_yanzhengma"></p>
          <input type="text" id="login_code" placeholder="请输入验证码">
        </div>
        <p class="pxq_img_yanzhengma"><img id="imagecode" src="../Styles/images/pxq_yanzhwngma.png" alt=""></p>
      </div>
      <div class="pxq_che">
        <ul class="pxq_checkbox_user">
          <li class="pxq_checkbox"><input type="checkbox" checked="checked" /></li>
          <li class="pxq_che_txt">记住用户名</li>
        </ul>
        <div class="pxq_a">
          <a class="pxq_a_pad" id="forgetPwd" href="javascript:;">忘记密码</a>
          <a href="javascript:;" id="login_register">免费注册</a>
        </div>
      </div>
      <div><a href="javascript://" id="login_submit" class="btn-affirm">立即提交</a></div>
    </li>
  </ul>
</div>


<div class="pxq_register" id="orderForm2" style="display: none;">
  <h3 class="pxq_h3"><a href="javascript://" class="pxq_close"><img src="../Styles/images/pxq_icon-close.png" pxq_status="close" alt=""></a>用户注册</h3>
  <ul class="pxq_ul pxq_ul2">
    <li class="pxq_li_img pxq_li_img2"><img src="../Styles/images/pxq_erweima.png" alt=""></li>
    <li class="pxq_li_input">
      <div class="pxq_p_input pxq_p_input2">
        <p></p>
        <input type="text" id="register_userPhone" placeholder="请输入手机号">
      </div>
      <div class="pxq_p_input">
        <p class="pxq_password"></p>
        <input type="password" id="register_password" placeholder="请输入6-16位字母或数字密码">
      </div>
      <div class="pxq_p_input">
        <p class="pxq_password2"></p>
        <input type="password" id="register_password_confirm" placeholder="请再次输入6-16位字母或数字密码">
      </div>
      <div class="pxq_yanzhengma">
        <div class="pxq_p_input pxq_input_wid">
          <p class="pxq_yanzhengma"></p>
          <input type="text" id="register_checkCode" placeholder="请输入验证码" />
        </div>
        <p class="zss_time" style="display: none;"><span class="__code"></span>S</p>
        <p class="pxq_img_yanzhengma pxq_img_yanzhengma2">
          <a href="javascript:;" id="register_getcode" class="pxq_a_yanpad __getcode">获取短信</a>
           <!--<a href="javascript:;">获取语音</a> -->
        </p>
      </div>
      <div class="pxq_che">
        <!--<ul class="pxq_checkbox_user">
          <li class="pxq_checkbox"><input type="checkbox" id="protocol" checked="checked"></li>
          <li class="pxq_che_txt pxq_che_txt2">我同意<a target="_blank" href="借么平台用户注册协议.pdf">《借么注册协议》</a></li>
        </ul>-->
      </div>
      <div><a href="javascript://" id="register_submit" class="btn-affirm">立即注册</a></div>
    </li>
  </ul>
</div>
<!--login reg 弹窗end-->
<!--资金托管 弹窗 start-->
<div class="zijituoguan" id="fund_deposit">
	<h3 class="pxq_h3 zijituoguan_h3"><a href="javascript://" class="pxq_close"><img src="../Styles/images/pxq_icon-close.png" pxq_status="close" alt=""></a></h3>
	<h2>资金存管</h2>
	<p>借款需要开通金账户，用于提现、还款、划扣等方面</p>
	<div class="zijituoguan_a"><a href="javascript://" class="__deposit">立即开通</a></div>
</div>
<!--授权操作 弹窗 start-->
<div class="zijituoguan shouquancaozuo" id="authority_handle">
	<h3 class="pxq_h3 zijituoguan_h3"><a href="javascript://" class="pxq_close"><img src="../Styles/images/pxq_icon-close.png" pxq_status="close" alt=""></a></h3>
	<h2>授权操作</h2>
	<p>为方便您进行借款，请先进行授权操作</p>
	<p>借么<span><img src="../Styles/images/shouquan_icon.png" alt=""></span>富友金账户</p>
	<div class="zijituoguan_a shouquancaozuo_a"><a href="javascript://" class="__authority">授权</a></div>
</div>

<!--login reg 弹窗end-->
<!--忘记密码未认证-->
<div class="pxq_register" id="zss_orderForm3" style="display: none;">
  <h3 class="pxq_h3"><a href="javascript://" class="pxq_close"><img src="../Styles/images/pxq_icon-close.png" pxq_status="close" alt=""></a>修改密码</h3>
  <ul class="pxq_ul pxq_ul2">
    <li class="pxq_li_img pxq_li_img2"><img src="../Styles/images/pxq_erweima.png" alt=""></li>
    <li class="pxq_li_input">
     
      <div class="pxq_p_input zss_p_input">
        <p class="pxq_password"></p>
        <input type="password" id="zss_register_password" placeholder="请输入6-16位字母或数字密码">
      </div>
      <div class="pxq_p_input">
        <p class="pxq_password"></p>
        <input type="password" id="zss_register_password_confirm" placeholder="请重新输入新密码">
      </div>
      
      <div><a href="javascript://" id="zss_register_submit" class="btn-affirm">提交</a></div>
    </li>
  </ul>
</div>
<!--忘记密码未认证 end-->
<!--忘记密码已认证-->
<div class="pxq_register" id="zss_orderForm4" style="display: none;">
  <h3 class="pxq_h3"><a href="javascript://" class="pxq_close"><img src="../Styles/images/pxq_icon-close.png" pxq_status="close" alt=""></a>修改密码</h3>
  <ul class="pxq_ul pxq_ul2">
    <li class="pxq_li_img pxq_li_img2"><img src="../Styles/images/pxq_erweima.png" alt=""></li>
    <li class="pxq_li_input">
      
      <div class="pxq_p_input zss_p_input">
        <p class="zss_password"></p>
        <input type="text" id="zss_username" placeholder="请输入姓名">
      </div>
      <div class="pxq_p_input">
        <p class="zss_password2"></p>
        <input type="text" id="zss_idcard" placeholder="请输入身份证号">
      </div>
      
     
      <div><a href="javascript://" id="forget_authentication_next" class="btn-affirm">下一步</a></div>
    </li>
  </ul>
</div>
<!--忘记密码已认证 end-->
<!--忘记密码-->
<div class="pxq_register" id="orderForm5" style="display: none;">
  <h3 class="pxq_h3"><a href="javascript://" class="pxq_close"><img src="../Styles/images/pxq_icon-close.png" pxq_status="close" alt=""></a>忘记密码</h3>
  <ul class="pxq_ul pxq_ul2">
    <li class="pxq_li_img pxq_li_img2"><img src="../Styles/images/pxq_erweima.png" alt=""></li>
    <li class="pxq_li_input">
      <div class="pxq_p_input pxq_p_input2 zss_p_input">
        <p></p>
        <input type="text" id="zss_forget_userPhone" placeholder="请输入手机号">
      </div>
      <div class="pxq_yanzhengma">
        <div class="pxq_p_input pxq_input_wid">
          <p class="pxq_yanzhengma"></p>
          <input type="text" id="zss_forget_checkCode" placeholder="请输入验证码" />
        </div>
        <p class="zss_time" style="display: none;"><span class="__code"></span>S</p>
        <p class="pxq_img_yanzhengma pxq_img_yanzhengma2">
        	
          <a href="javascript:;" class="pxq_a_yanpad __getcode">获取短信</a>
           <!--<a href="javascript:;">获取语音</a> -->
        </p>
      </div>
      <div class="pxq_che" style="display: none;">
        <ul class="pxq_checkbox_user">
         
          <li class="pxq_che_txt pxq_che_txt2 zss_tex">验证码已发送，请注意查收！</li>
        </ul>
      </div>
      <div><a href="javascript://" class="btn-affirm __submit">下一步</a></div>
    </li>
  </ul>
</div>

<!--忘记密码 end-->
<script type="text/template" id="form_template">
	<form action="%s" method="post"> 
		<textarea name="json" rows="20" cols="100" name="json">%t</textarea> 
		<input type="submit" /> 
	</form>
</script>
<script type="text/template" id="banks_template">
	<div class="banks">
		<input type="radio" name="rad" id="%s" />
		<label for="%s">
			<span><img src="../Styles/images/banks/%t" alt="%r" /></span>
		</label>                				
	</div>
</script>
<script src="../Script/Libs/jquery.1.9.min.js"></script>
<script src="../Script/Libs/json.js"></script>
<script src="../Script/main.js"></script>
<script src="../Script/Controller/index.js"></script>

</body>
</html>