<div class="sub_conbox">
    <div class="subcode_box">
        <span class="subcode subcode1"></span>
        <span class="subcode subcode2"></span>
        <span class="subcode subcode3"></span>
        <span class="subcode subcode4"></span>
        <span class="subcode subcode5"></span>
    </div>
    <div class="iColumn_block mgb30 clearfix">
        <div class="iColumn_A index_media">
            <div class="iColumn_s mg26">
                <h3 class="iColumn_s_title">借款状态</h3>
            </div>
            <div class="iColumn_content">
                <div class="audit_box">
                    <i></i>
                    <h1>您的借款正在进行审核</h1>
                    <p>借么将会对您的借款申请进行审核，请您耐心等待！</p>
                    <p>等待审核期间，请注意接听审核人员的来电。</p>
                </div>
            </div>
        </div>
    </div>
</div>