<div class="content_box">
    <div class="iColumn_block  mgb19 clearfix">
        <div class="iColumn_A index_media">
            <div class="iColumn_s">
                <h3 class="iColumn_s_title">网络借款流程</h3>
            </div>
            <div class="iColumn_content">
                <ul class="nlist nlist_login clearfix">
                    <li class="li_login">
                        <div class="items items_login item01">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>申请</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item02">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>审核</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item03">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>合同签署</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item04">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>放款</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item05">
                            <img src="../Styles/images/arrow.png" alt="" />
                        </div>
                        <p>还款结清</p>
                    </li>
                    <li class="li_login">
                        <div class="items items_login item06">
                        </div>
                        <p>再次借款</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="iColumn_block mgb30 clearfix">
        <div class="iColumn_A index_media">
            <div class="iColumn_s mg26">
                <h3 class="iColumn_s_title">充值</h3>
            </div>
            <div class="iColumn_content">
                <div class="cash_sucdiv">
                    <p><span></span>恭喜您，充值成功！</p>
                </div>
            </div>
        </div>
    </div>
</div>